[submodule "library/adodb"]
	path = library/adodb
	url = https://github.com/mantisbt/ADOdb.git
	branch = mantis-1.3
[submodule "library/phpmailer"]
	path = library/phpmailer
	url = https://github.com/mantisbt/PHPMailer
	branch = mantis
[submodule "library/disposable"]
	path = library/disposable
	url = https://github.com/mantisbt/disposable_email_checker
	branch = mantisbt
[submodule "library/securimage"]
	path = library/securimage
	url = https://github.com/mantisbt/securimage.git
	branch = mantis
[submodule "library/ezc/Base"]
	path = library/ezc/Base
	url = https://github.com/mantisbt/ZetaBase.git
	branch = mantis
[submodule "library/ezc/Graph"]
	path = library/ezc/Graph
	url = https://github.com/mantisbt/ZetaGraph.git
	branch = mantis
[submodule "m"]
	path = m
	url = git@bitbucket.org:mantishub/mantistouch.git
[submodule "plugins/MantisTouchRedirect"]
	path = plugins/MantisTouchRedirect
	url = git@github.com:mantishub/MantisTouchRedirect.git
[submodule "plugins/Csv_import"]
	path = plugins/Csv_import
	url = git@github.com:mantishub/csv-import.git
[submodule "plugins/Slack"]
	path = plugins/Slack
	url = git@bitbucket.org:mantishub/slack.git
[submodule "plugins/HipChat"]
	path = plugins/HipChat
	url = git@bitbucket.org:mantishub/slack.git
[submodule "plugins/EventLog"]
	path = plugins/EventLog
	url = https://github.com/mantisbt-plugins/EventLog
[submodule "plugins/Auth0"]
	path = plugins/Auth0
	url = git@bitbucket.org:mantishub/auth0.git
