[submodule "library/adodb"]
	path = library/adodb
	url = https://github.com/mantisbt/ADOdb.git
[submodule "library/phpmailer"]
	path = library/phpmailer
	url = https://github.com/mantisbt/PHPMailer
[submodule "library/disposable"]
	path = library/disposable
	url = https://github.com/mantisbt/disposable_email_checker
[submodule "library/securimage"]
	path = library/securimage
	url = https://github.com/mantisbt/securimage.git
[submodule "m"]
	path = m
	url = git@bitbucket.org:vboctor/mantistouch.git
[submodule "plugins/MantisTouchRedirect"]
	path = plugins/MantisTouchRedirect
	url = git@github.com:mantishub/MantisTouchRedirect.git
[submodule "plugins/Csv_import"]
	path = plugins/Csv_import
	url = git@github.com:mantishub/csv-import.git
[submodule "plugins/Slack"]
	path = plugins/Slack
	url = git@bitbucket.org:vboctor/slack.git
[submodule "plugins/HipChat"]
	path = plugins/HipChat
	url = git@bitbucket.org:vboctor/slack.git
