# MantisHub Files
mantishub_plan_inc.php
package_timestamp.txt
package_type.txt
package_type_request.txt

# Mac Files
.DS_Store

# Config files - v1.2.x config files - keep for convenience for dev machines switching branches
config_inc.php
custom_constants_inc.php
custom_functions_inc.php
custom_relationships_inc.php
custom_strings_inc.php
mantis_offline.php
api/soap/mc_config_inc.php

# Files to be deprecated in v1.3
custom_constant_inc.php

# Docbook builds
docbook/*/*/builddate
docbook/*/*/build
docbook/*/*/install
docbook/*/builddate
docbook/*/tmp
!docbook/Admin_Guide/*/config

# Build output
build/

# Untracked plugins
plugins/*
!plugins/MantisCoreFormatting
!plugins/MantisGraph
!plugins/XmlImportExport
!plugins/Gravatar
!plugins/MantisHub

# IDE/Editor temporary files
*~
*.swp
*.bak
.buildpath
.cache
.project
.settings
.idea/
*.kdev4
nbproject/

# MacOS
.DS_Store

# IIS7
web.config
!library/securimage/web.config

# Libraries
library/FirePHPCore
library/ezc
/vendor/

# MantisHub Ignores
images/logo.png
attach/
config/
backup/
log/

# Parsedown submodule added in 2.1
library/parsedown

