<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <title>MantisBT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Refresh" content="600" />

    <style type="text/css"> <!--
      body {
        background-color: white;
      }

      h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 5px;
        color: black;
        background-color: #c8c8e8;
      }

      p {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        text-align: left;
        margin: 10px;
        padding: 0;
      }

      #box {
        padding: 0;
        margin-top: 20%;
        margin-left: 25%;
        margin-right: 25%;
        border: 1px solid #777;
        background-color: #eee;
      }

    --> </style>
  </head>

  <body>

    <div id="box">

      <h1>MantisBT</h1>

      <p>
        Oh Dear! Looks like your MantisHub account has been SUSPENDED.


      </p>

      <p>
        Either your trial has expired or there could be outstanding invoices on your account.
        You can check out this article to see what to do to <a href="http://support.mantishub.com/hc/en-us/articles/115000202103-How-to-restore-a-suspended-or-expired-service" target="_blank">restore your service<a>
         and get up and running again ASAP - <a href="mailto:support@mantishub.com">support@mantishub.com</a>
      </p>

    </div>

  </body>
</html>
